.balloon-container {
	width:120px;
	height:175px;
	position:absolute;
	left:75%;
  bottom:55%;
  animation: both linear;
  animation: float;
  animation-duration: 20s
  ;
  .balloon {
    background-image: URL("../images/balloon.png");
    width:100%;
    height:100%;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}
@keyframes move{
  from{ transform: translateX(500px)}
  to{transform: translateX(-1920px);}
}

@keyframes float{
 0%{bottom: 500px; left: 100%;}
 40%{bottom: 400px;}
 55%{bottom: 500px;}
 75%{bottom: 600px;}
 100%{bottom: 700px; left: -10%;}
}