/*********************************************************************
*Original Author:      Aaron Carr                                    *
*Date Created:         12/01/2020                                    *
*Version:              current                                       *
*Date Last Modified:   12/10/2020                                    *
*Modified by:          Aaron Carr                                    *
*Modification log:     Changed the color schemes                     *
***
******************************************************************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-color: #5da2d5;
  color: white;
  position: relative;
  z-index: 1;
}
h1,
h2,
h3,
h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
/* Header */
.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--grey-alt);
  overflow: hidden;
}

.nav {
  padding: 1.6rem 0;
}

.nav.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #243a6f;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.nav.fix-nav .nav-link,
.nav.fix-nav .logo,
.nav.fix-nav .cart-icon,
.nav.fix-nav .hamburger {
  color: #fff;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 2.5rem;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 300ms ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.top-nav {
  display: none;
}

.hamburger {
  display: none;
}

.cart-icon {
  display: none;
}
/* Contact */
.contact-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

.left h2 {
  font-size: 2rem;
}

.left p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.left div {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.left div .content {
  text-align: left;
}

.left .icon {
  margin-right: 2rem;
  font-size: 2.3rem;
  color: #f3d250;
}

.form h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.form input,
.form textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  padding: 1rem 0;
  text-indent: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  outline: none;
}

.form .right div {
  display: flex;
}

.form .right div input {
  flex: 1 1 50%;
}

.form textarea {
  max-width: 55.5rem;
  height: 16rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 768px) {
  .contact-center {
    grid-template-columns: 1fr;
  }

  .contact-center .left {
    text-align: left;
  }

  .left div .content h3 {
    font-size: 1.6rem;
  }

  .left div .content span {
    font-size: 1.5rem;
  }
}
footer {
  background-color: #f3d250;
  padding: 1.6rem 1rem;
  text-align: center;
}

footer p {
  color: #fff;
}