@charset "utf-8";
body{
    background-color: lightpink;
    
        
        height: 50em;
        margin-bottom: 10em;
        background:Radial-Gradient(
         #006699,#00CC00,#FF0000)
}
.tableStyle{
    border-color: lightsalmon;
    
    background-color: lightskyblue;
    width: auto;
    text-align: center;
    font-size: medium;
    margin-left:auto; 
    margin-right:auto;
    

}
colgroup{ width: 2em; background-color: #eed;
}

thead,
tfoot {
    background-color: #3fa66a;
    color: #fff;
    width: auto;
    text-align: center;
    font-size: medium;
}
tr:nth-child(3) { background-color: burlywood }
